@inject IJSRuntime JSRuntime

<button @onclick="CopyToClipboard" class="copy-button">
    @if (copied)
    {
        <span>✔ Copiado</span>
    }
    else
    {
        <span>📋</span>
    }
</button>

@code {
    [Parameter] public string Text { get; set; } = "";
    private bool copied = false;

    private async Task CopyToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", Text);
        copied = true;
        StateHasChanged();
        await Task.Delay(2000);
        copied = false;
        StateHasChanged();
    }
}
