.widget-editor-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Oscurecer fondo */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-editor {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    min-width: 400px;
    max-width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}
