.toast-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: none; /* Solo el contenido puede hacer clic */
}

.toast-message {
    background: #fff;
    color: #212529;
    padding: 20px 28px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    min-width: 300px;
    max-width: 420px;
    text-align: center;
    pointer-events: auto; /* Permite clics en botones */
    animation: fade-in 0.4s ease-out;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.toast-icon {
    font-size: 28px;
    margin-bottom: 8px;
}

.toast-success {
    border-left: 6px solid #28a745;
}

.toast-danger {
    border-left: 6px solid #dc3545;
}

.toast-info {
    border-left: 6px solid #17a2b8;
}

.toast-warning {
    border-left: 6px solid #ffc107;
}

.error-code {
    font-size: 12px;
    margin-top: 4px;
    opacity: 0.85;
}

.info-btn {
    margin-top: 12px;
    background: #000;
    color: #fff;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

    .info-btn:hover {
        background: #333;
    }

/* Animaciones */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate(-50%, calc(-50% - 20px));
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.toast-hide {
    opacity: 0 !important;
    transform: translate(-50%, calc(-50% - 20px)) !important;
}
