@inherits LayoutComponentBase
@using SAPAssistant.Components

<PageTitle>Iniciar sesión - SAPAssistant</PageTitle>

<div class="login-layout">
    <NotificationDisplay />
    <div class="login-card">
        @Body
    </div>
</div>
