@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <div class="login-page">
        @Body
    </div>
</CascadingAuthenticationState>
