@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <div class="login-page">
         <SAPAssistant.Components.NotificationDisplay />
        <SAPAssistant.Components.Shared.ThemeSwitcher />
        @Body
    </div>
</CascadingAuthenticationState>

